<span>
  <span><%= link "▲", to: "#", phx_click: "post_upvote", phx_value_id: @post.id %></span>
    <%= @post.votes %>
  <span><%= link "▼", to: "#", phx_click: "post_downvote", phx_value_id: @post.id %></span>
</span>