<span>
  <span><%= link "▲", to: "#", phx_click: "upvote", phx_value_id: @post.id, phx_target: @myself %></span>
    <%= @post.votes %>
  <span><%= link "▼", to: "#", phx_click: "downvote", phx_value_id: @post.id, phx_target: @myself %></span>
</span>