<span>
  <span><%= link "▲", to: "#", phx_click: "vote", phx_value_vote_type: :up, phx_target: @myself,
            style: get_vote_value_of_current_user(@post) |> get_up_arrow_style %></span>
    
    <%= @post.votes %>
  
  <span><%= link "▼", to: "#", phx_click: "vote", phx_value_vote_type: :down, phx_target: @myself,
            style: get_vote_value_of_current_user(@post) |> get_down_arrow_style %></span>
</span>