<table>
	<tbody>
    <tr>
      <td>user:</td><td><%= @user.username %></td>
    </tr>
    <tr>
      <td>created:</td><td><%= @user.inserted_at %></td>
    </tr>
  </tbody>
</table>
<div>
  <%= live_redirect "submissions", to: Routes.post_index_path(@socket, :index, user_id: @user.id) %>      
</div>
<div>
  <%= live_redirect "comments", to: Routes.user_comment_list_path(@socket, :list, @user) %>      
</div>